sites/all/modules/springboard/services/sf_user_service/wsdl/sf_contact.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Salesforce.com Outbound Notification Web Services API Version 1.0 
Generated on 2010-03-29 20:23:44 +0000.

Copyright 2005-2010 Salesforce.com, Inc.
All Rights Reserved
-->
<definitions targetNamespace="http://soap.sforce.com/2005/09/outbound" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/2005/09/outbound" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ent="urn:enterprise.soap.sforce.com" xmlns:ens="urn:sobject.enterprise.soap.sforce.com">
    <types>

        <schema elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:enterprise.soap.sforce.com">
            <!-- Our simple ID Type -->
            <simpleType name="ID">
                <restriction base="xsd:string">
                    <length value="18"/>
                    <pattern value="[a-zA-Z0-9]{18}"/>
                </restriction>
            </simpleType>
        </schema>

        <schema elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sobject.enterprise.soap.sforce.com">
            <import namespace="urn:enterprise.soap.sforce.com"/>
            <!-- Base sObject (abstract) -->
            <complexType name="sObject">
                <sequence>
                    <element name="fieldsToNull" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="Id" type="ent:ID" nillable="true"/>
                </sequence>
            </complexType>

            <complexType name="AggregateResult">
                <complexContent>
                    <extension base="ens:sObject">
                        <sequence>
                            <any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>

            <complexType name="Contact">
                <complexContent>
                    <extension base="ens:sObject">
                        <sequence>
                        <element name="AssistantName" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="AssistantPhone" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Big_Pimp__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Birthdate" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Campaign__c" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="CreatedById" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="CreatedDate" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="Department" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Description" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Drupal_User_ID__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Email" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="EmailBouncedDate" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="EmailBouncedReason" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Fax" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="FirstName" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="First_Transaction_Date__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Highest_Online_Gift__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="HomePhone" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Initial_Market_Source__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Initial_Registration_Date__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="IsDeleted" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="LastActivityDate" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="LastCURequestDate" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="LastCUUpdateDate" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="LastModifiedById" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="LastModifiedDate" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="LastName" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="LeadSource" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Lifetime_Transaction_Total_Count__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="MailingCity" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="MailingCountry" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="MailingPostalCode" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="MailingState" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="MailingStreet" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Market_Source__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="MasterRecordId" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="MobilePhone" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="OtherCity" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="OtherCountry" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="OtherPhone" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="OtherPostalCode" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="OtherState" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="OtherStreet" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="OwnerId" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="Phone" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="ReportsToId" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="Salutation" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="SystemModstamp" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="Title" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npe01__AlternateEmail__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npe01__HomeEmail__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npe01__Home_Address__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npe01__Last_Donation_Date__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="npe01__Lifetime_Giving_History_Amount__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="npe01__Organization_Type__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npe01__Other_Address__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npe01__PreferredPhone__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npe01__Preferred_Email__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npe01__Primary_Address_Type__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npe01__Private__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="npe01__Secondary_Address_Type__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npe01__SystemAccountProcessor__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npe01__Type_of_Account__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npe01__WorkEmail__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npe01__WorkPhone__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npe01__Work_Address__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npo02__Formula_HouseholdMailingAddress__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npo02__Formula_HouseholdPhone__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npo02__Household__c" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="npo02__SystemHouseholdProcessor__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>


        </schema>

        <schema elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://soap.sforce.com/2005/09/outbound">
            <import namespace="urn:enterprise.soap.sforce.com"/>
            <import namespace="urn:sobject.enterprise.soap.sforce.com"/>
    
            <element name="notifications">
                <complexType> 
                    <sequence> 
                    	<element name="OrganizationId" type="ent:ID"/>
                    	<element name="ActionId" type="ent:ID"/>
                    	<element name="SessionId" type="xsd:string" nillable="true"/>
                    	<element name="EnterpriseUrl" type="xsd:string"/>
                    	<element name="PartnerUrl" type="xsd:string"/>
                        <element name="Notification" maxOccurs="100" type="tns:ContactNotification"/>
                    </sequence> 
                </complexType> 
            </element>
    
            <complexType name="ContactNotification">
                <sequence>
                    <element name="Id" type="ent:ID"/>
                    <element name="sObject" type="ens:Contact"/>
                </sequence>
            </complexType>
                
            <element name="notificationsResponse">
                <complexType>
                    <sequence>
                        <element name="Ack" type="xsd:boolean"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>
    
    
    <!-- Method Messages -->   
    <message name="notificationsRequest">
        <part element="tns:notifications" name="request"/>
    </message>
    <message name="notificationsResponse">
        <part element="tns:notificationsResponse" name="response"/>
    </message>

    <!-- PortType -->
    <portType name="NotificationPort">
        <operation name="notifications">
            <documentation>Process a number of notifications.</documentation>
            <input message="tns:notificationsRequest"/>
            <output message="tns:notificationsResponse"/>
        </operation>
    </portType>
    
    <!-- Binding 
         You need to write a service that implements this binding to receive the notifications
     -->
    <binding name="NotificationBinding" type="tns:NotificationPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <operation name="notifications">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output> 
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!-- Service Endpoint -->
    <service name="NotificationService">
        <documentation>Notification Service Implementation</documentation>
        <port binding="tns:NotificationBinding" name="Notification">
            <soap:address location="http://springboard.jacksonriverdev.com/services/sf-user"/>
        </port>
    </service>
    
</definitions>